@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
  font-family: 'Merriweather', serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #ff99aa;
  background-image:
    radial-gradient(at 32% 39%, hsla(328, 68%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 46% 26%, hsla(335, 99%, 68%, 1) 0px, transparent 50%),
    radial-gradient(at 56% 52%, hsla(72, 64%, 60%, 1) 0px, transparent 50%),
    radial-gradient(at 22% 77%, hsla(270, 80%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 69% 22%, hsla(29, 99%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 4% 46%, hsla(228, 91%, 78%, 1) 0px, transparent 50%);
}

h1 {
  font-size: 2.5rem;
  word-spacing: 5px;
  color: hotpink;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

h1 span {
  color: white;
}

h2 {
  color: white;
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  border: none;
  text-indent: 4px;
}

input:focus {
  outline: none;
}

input::file-selector-button {
  background: hotpink;
  color: white;
  border: none;
  margin-left: 10px;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}

input::file-selector-button:hover {
  background: deeppink;
}

.inputbox {
  background: white;
  border: 2px solid black;
  border-radius: 4px;
  width: 24rem;
  height: 1.8rem;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

button {
  background: linear-gradient(90deg, deeppink, orange);
  width: 100%;
  color: white;
  padding: 12px 24px;
  border: 2px solid #000;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:active {
  background: linear-gradient(90deg, orange, deeppink);
}



::selection {
  background: hotpink;
  color: white;
}

main {
  display: flex;
}

main.signup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  /* background-color: red; */
}

main div.left {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main div.right {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main div.right p span {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

main div.right p span:hover {
  color: hotpink;
}

img {
  width: 220px;
  height: 220px;
  background-color: whitesmoke;
  border: 3px solid #fff;
  border-radius: 15px;
  object-fit: contain;
  box-shadow: 17px 18px 22px -14px rgba(0, 0, 0, 0.57);
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}